<ng-include src="'partials/admin/includes/header.html'"></ng-include>

<div class="container">
	<ol class="breadcrumb">
		<li>
			<a ng-href="#/admin">Home</a>
		</li>

		<li>
			<a ng-href="#/admin/pages">Pages</a>
		</li>

		<li class="active">{{page.title}}</li>
	</ol>

	<form ng-submit="updatePage()">
		<div class="form-group">
			<label>Título</label>

			<input type="text" class="form-control" ng-model="page.title" required>
		</div>

		<div class="form-group">
			<label>Text</label>

			<textarea ng-model="page.text" class="form-control" style="height: 400px;" required></textarea>
		</div>

		<input class="btn btn-default" type="submit" value="Alterar">
	</form>

	<div class="alert alert-danger" ng-show="$scope.flashMessage.type == 'error'" role="alert">{{$scope.flashMessage.message}}</div>

	<div class="alert alert-success" ng-show="$scope.flashMessage.type == 'success'" role="alert">{{$scope.flashMessage.message}}</div>
</div>