<ng-include src="'partials/admin/includes/header.html'"></ng-include>

<div class="container">
	<ol class="breadcrumb">
		<li>
			<a ng-href="#/admin">Home</a>
		</li>

		<li>
			<a ng-href="#/admin/pages">Pages</a>
		</li>

		<li class="active">{{page.title}}</li>
	</ol>

	<form ng-submit="update()">
		<div class="form-group">
			<label>Título</label>

			<input type="text" class="form-control" ng-model="page.title" required>
		</div>

		<div class="form-group">
			<label>Text</label>

			<text-angular ng-model="page.text"></text-angular>
		</div>

		<input class="btn btn-default" type="submit" value="Alterar">
	</form>

	<br /> <br />

	<div class="alert alert-danger" ng-show="flashMessage.type == 'error'" role="alert" ng-bind-html="flashMessage.message"></div>

	<div class="alert alert-success" ng-show="flashMessage.type == 'success'" role="alert" ng-bind-html="flashMessage.message"></div>
</div>