<!-- bootstrap -->
<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">

<div class="container">
	<h1 class="text-center">dboaventura - login</h1>

	<br />
	<br />
	<br />
	<br />

	<form ng-submit="makeLogin()" class="col-md-4 col-md-offset-4">
		<fieldset class="form-group">
			<label>Login</label>

			<input type="text" class="form-control" ng-model="admin.username" placeholder="Login" required />
		</fieldset>

		<fieldset class="form-group">
			<label>Senha</label>

			<input type="password" class="form-control" ng-model="admin.password" placeholder="Senha" required />
		</fieldset>

		<fieldset>
			<input type="submit" class="btn btn-default" value="Entrar">
		</fieldset>

		<br /> <br />

		<div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
	</form>
</div>