<ng-include src="'partials/admin/includes/header.html'"></ng-include>

<div class="container">
	<table class="table table-bordered">
		<tbody></tbody>

		<thead>
			<tr>
				<th>Title</th>
				<th>Read ?</th>
				<th>Action #1</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="contact in contacts">
				<td>{{contact.name}}</td>

				<td ng-show="contact.seen == 0">Não lido</td>
				<td ng-show="contact.seen == 1">Lido</td>

				<td>
					<a ng-href="#/admin/contact/edit/{{contact._id}}">Ler</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>