<section class="clearfix" id="main-home">
	<div class="box-wrapper clearfix">
		<div class="box-brand clearfix wow fadeInDown" data-wow-duration="1s">
			<span>D</span>
			<span>B</span>
		</div>

		<div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
			<h1 class="it-name">darwin boaventura</h1>

			<h2 class="it-profession">Full Stack Web Developer</h2>
		</div>

		<a class="it-link wow fadeInUp smooth-scroll" data-wow-duration="1s" data-wow-delay="2s" href="#about">
			<span>About me</span>

			<i class="fa fa-angle-down"></i>
		</a>
	</div>

	<a class="it-menu wow fadeIn toggle-menu" data-wow-duration="1s" data-wow-delay="3s" href="#">
		<i class="fa fa-bars"></i>
	</a>
</section>

<section class="clearfix" id="about">
	<div class="wrapper clearfix">
		<header class="clearfix">
			<h2>
				<span>02</span> ABOUT ME
			</h2>
		</header>

		<article class="clearfix" ng-bind-html="page.text"></article>
	</div>
</section>

<section class="clearfix" id="works">
	<header class="clearfix">
		<div class="wrapper clearfix">
			<h2>
				<span>02</span> LAST WORKS
			</h2>
		</div>
	</header>

	<ul class="box-gallery clearfix">
		<li class="li clearfix hover-work" ng-repeat="work in works">
			<div class="it-image clearfix">
				<img ng-src="{{work.thumbnail}}" alt="{{work.title}}">
			</div>

			<div class="it-hover animated clearfix">
				<div class="box-center clearfix">
					<a ng-href="{{work.link}}" target="_blank">
						<h3>{{work.title}}</h3>

						<p>{{work.technologies}}</p>
					</a>
				</div>
			</div>
		</li>
	</ul>
</section>

<section class="clearfix" id="contact">
	<div class="wrapper clearfix">
		<header class="clearfix">
			<h2>
				<span>03</span> CONTACT
			</h2>
		</header>

		<main class="clearfix">
			<form class="clearfix" ng-submit="processContactForm()">
				<fieldset class="clearfix">
					<input type="text" placeholder="Name" name="name" ng-model="contact.name" required>
				</fieldset>

				<fieldset class="clearfix">
					<input type="email" placeholder="Email" name="email" ng-model="contact.email" required>
				</fieldset>

				<fieldset class="clearfix">
					<input type="text" placeholder="Phone" name="phone" ng-model="contact.phone">
				</fieldset>

				<fieldset class="clearfix">
					<textarea placeholder="Message" name="message" ng-model="contact.message" required></textarea>
				</fieldset>

				<input type="submit" value="Send">

				<div class="clearfix"></div>

				<span class="flash-message" ng-show="flashMessage">{{flashMessage.message}}</span>
			</form>

			<aside class="clearfix">
				<p>
					<strong>Email address</strong> <br /> darwinboaventura@gmail.com
				</p>

				<p>
					<strong>Phone</strong> <br /> +55 (11) 95334-7974
				</p>
			</aside>
		</main>
	</div>
</section>

<nav class="clearfix animated" id="menu">
	<ul class="clearfix">
		<li class="clearfix">
			<a href="#main-home" class="smooth-scroll toggle-menu">Home</a>
		</li>

		<li class="clearfix">
			<a href="#about" class="smooth-scroll toggle-menu">About</a>
		</li>

		<li class="clearfix">
			<a href="#works" class="smooth-scroll toggle-menu">Portfolio</a>
		</li>

		<li class="clearfix">
			<a href="#contact" class="smooth-scroll toggle-menu">Contact</a>
		</li>
	</ul>

	<a class="it-link-close toggle-menu">
		<i class="fa fa-times"></i>
	</a>
</nav>