<p>
	<strong>Nome: </strong> <%= otherProperty.name %> <br />
	<strong>E-mail: </strong> <%= otherProperty.email %> <br />
	<strong>Telefone: </strong> <%= otherProperty.phone %> <br />
	<strong>Mensagem: </strong> <%= otherProperty.message %> <br />
</p>