<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Darwin Boaventura - Full Stack Web Developer</title>

		<!-- font awesome-->
		<script src="https://use.fontawesome.com/8712517925.js"></script>

		<!-- favicon-->
		<link rel="shortcut icon" href="dist/imgs/favicon.ico">

		<!-- animate css-->
		<link rel="stylesheet" href="dist/css/animate/animate.css">

		<!-- google fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,800italic,600">
		<link rel="stylesheet" href="dist/css/style.css">
		<link rel="stylesheet" href="dist/css/responsive.css" media="(max-width: 900px)">
	</head>

	<body>
		<section class="clearfix" id="main-home">
			<div class="box-wrapper clearfix">
				<div class="box-brand clearfix wow fadeInDown" data-wow-duration="1s">
					<span>D</span>
					<span>B</span>
				</div>

				<div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
					<h1 class="it-name">darwin boaventura</h1>

					<h2 class="it-profession">Full Stack Web Developer</h2>
				</div>

				<a class="it-link wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s" href="#about">
					<span>About me</span>

					<i class="fa fa-angle-down"></i>
				</a>
			</div>

			<a class="it-menu wow fadeIn" data-wow-duration="1s" data-wow-delay="3s" href="#">
				<i class="fa fa-bars"></i>
			</a>
		</section>

		<section class="clearfix" id="about">
			<div class="wrapper clearfix">
				<header class="clearfix">
					<h2>
						<span>02</span> ABOUT ME
					</h2>
				</header>

				<article class="clearfix">
					<p>I'm a self-taught professional, passionate about the Internet and technology. I've professionally programmed websites and web based systems with 6 years experience.</p>

					<p>I'm a Full Stack Web Developer proficient in CodeIgniter and other popular PHP based Frameworks. I also love to learn new technologies and am able to quickly apply my skill set to address your business needs.</p>

					<p>I have developed projects for brands like Navy of Brazil, Asserf, Unidade Digital, GBarbosa, Pida!, Banda Seu Maxixe, Cangaia de Jegue, One Models Bahia, Clínica Clivale and Grupo A2.</p>

					<p>I am competent working with HTML, CSS, Jade, SASS, Bootstrap, Foundation, Javascript, jQuery, AngularJS, WordPress, OpenCart, MySQL, PHP, MySQL, Git, Gulp, Bower, CodeIgniter, responsive layouts, Photoshop, Premiere and other software used in related areas.</p>
				</article>
			</div>
		</section>

		<section class="clearfix" id="works">
			<header class="clearfix">
				<div class="wrapper clearfix">
					<h2>
						<span>02</span> LAST WORKS
					</h2>
				</div>
			</header>

			<ul class="box-gallery clearfix">
				<li class="li clearfix">
					<div class="it-image clearfix">
						<img src="dist/imgs/work-1.jpg" alt="Unidade Digital">
					</div>

					<div class="it-hover animated clearfix">
						<div class="box-center clearfix">
							<a href="http://unidadedigital.com.br/#/" target="_blank">

							<h3>Unidade Digital</h3>

							<p>HTML - CSS - jQuery- AngularJS</p></a>
						</div>
					</div>
				</li>
			</ul>
		</section>

		<section class="clearfix" id="contact">
			<div class="wrapper clearfix">
				<header class="clearfix">
					<h2>
						<span>03</span> CONTACT
					</h2>
				</header>

				<main class="clearfix">
					<form class="clearfix">
						<fieldset class="clearfix">
							<input type="text" placeholder="Name" name="name" required>
						</fieldset>

						<fieldset class="clearfix">
							<input type="email" placeholder="Email" name="email" required>
						</fieldset>

						<fieldset class="clearfix">
							<input type="text" placeholder="Phone" name="phone">
						</fieldset>

						<fieldset class="clearfix">
							<textarea placeholder="Message" name="message" required></textarea>
						</fieldset>

						<input type="submit" value="Send">
					</form>

					<aside class="clearfix">
						<p>
							<strong>Email address</strong> <br /> darwinboaventura@gmail.com
						</p>

						<p>
							<strong>Phone</strong> <br /> +55 (11) 95334-7974
						</p>
					</aside>
				</main>
			</div>
		</section>

		<nav class="clearfix animated" id="menu">
			<ul class="clearfix">
				<li class="clearfix">
					<a href="#main-home">Home</a>
				</li>

				<li class="clearfix">
					<a href="#about">About</a>
				</li>

				<li class="clearfix">
					<a href="#works">Portfolio</a>
				</li>

				<li class="clearfix">
					<a href="#contact">Contact</a>
				</li>
			</ul>

			<a class="it-link-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</nav>

		<!-- jquery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

		<!-- wow.js-->
		<script src="dist/js/wow/wow.min.js"></script>

		<!-- app-->
		<script src="dist/js/app.js"></script>
	</body>
</html>