<!DOCTYPE html>
<html lang="en" ng-app="dboaventura">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Darwin Boaventura - Full Stack Web Developer</title>

		<!-- font awesome-->
		<script src="https://use.fontawesome.com/8712517925.js"></script>

		<!-- favicon-->
		<link rel="shortcut icon" href="assets/imgs/favicon.ico">

		<!-- animate css-->
		<link rel="stylesheet" href="assets/css/animate/animate.css">

		<!-- google fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,800italic,600">
		<link rel="stylesheet" href="assets/css/style.css">
		<link rel="stylesheet" href="assets/css/responsive.css" media="(max-width: 900px)">
	</head>

	<body>
		<ng-view></ng-view>

		<!-- jquery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

		<!-- wow.js-->
		<script src="assets/js/wow/wow.min.js"></script>

		<!-- app-->
		<script src="assets/js/app.js"></script>

		<!-- angular libraries -->
		<script src="vendor/angular/angular.js"></script>
		<script src="vendor/angular-resource/angular-resource.min.js"></script>
		<script src="vendor/angular-route/angular-route.min.js"></script>
		<script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>

		<!-- modules -->
		<script src="js/main.js"></script>

		<!-- services -->
		<script src="js/services/PageService.js"></script>
		<script src="js/services/WorkService.js"></script>

		<!-- directives -->
		<script src="js/directives/SmoothScrollDirective.js"></script>
		<script src="js/directives/ToggleMenuDirective.js"></script>
		<script src="js/directives/HoverWorkDirective.js"></script>

		<!-- controllers -->
		<script src="js/controllers/HomeController.js"></script>
	</body>
</html>